@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,500&family=Playfair+Display&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-weight: 600;
}

body {
	object-fit: cover;
	background-color: antiquewhite;
	height: 100vh;
	width: 100vw;
}

.container {
	min-height: 65vh;
	color: white;
	font-family: 'Playfair Display', serif;
	display: flex;
	flex-direction: column;
	width: 100vw;
	border-radius: 12px;
}

.background {
	display: flex;
	position: absolute;
	z-index: -1;
	height: 100vh;
	width: 100vw;
}

.background > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	backdrop-filter: contrast(50%);
}

nav {
	font-family: 'Bricolage Grotesque', sans-serif;
	width: 100vw;
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	height: 55px;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
}
.nav-item {
	cursor: pointer;
	padding: 5px 12px;
}
.nav-item:hover {
	scale: 1.1;
    transition: scale .2s ease;
}
.brand>img {
	width: 44px;
    border-radius: 50%;
}
.brand {
	display: flex;
	align-items: center;
	font-weight: bolder;
	font-size: 1.3rem;
}

.songlist {
	width: 40vw;
	margin-left: 40px;
	margin-top: 30px;
}

.songitem {
	display: flex;
	height: 50px;
	background-color: rgb(0, 0, 0,.8);
	width: 100%;
	color: rgb(255, 255, 255);
	margin: 12px 0;
	justify-content: space-between;
	align-items: center;
	border-radius: 30px;
}
.songitem img {
	margin: 0 2px;
	width: 45px;
	border-radius: 50%;
}
.timestamp {
	margin: 0 23px;
}
.timestamp i {
	cursor: pointer;
}
.songitemcontainer {
	margin: 24px 0;
}
.bottom {
	color: white;
	background-color: rgb(0, 0, 0, 0.5);
	height: 120px;
	width: 100%;
	position: fixed;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#myprogressbar {
	width: 80vw;
	cursor: pointer;
}
.icons {
	margin-top: 15px;
}
.icons i {
	cursor: pointer;
    scale: 1.3;
    margin: 0 10px;
}

.icons>i:hover{
    text-shadow: 2px 2px 4px white;
}

.songinfo {
	position: absolute;
	left: 10vw;
	font-family: 'Bricolage Grotesque', sans-serif;
}
.songinfo img {
	opacity: 0;
	transition: opacity 0.4s ease-in;
}
